<div class="border-bottom d-flex justify-content-between">
  <a href="/articles"><h1 class="wikinimous">Wikinimous</h1></a>
  <a href="/articles/new"><span class="new-article">New article</span></a>
</div>
<br>
<% @articles.each do |article| %>
  <div class="border-bottom">
    <a href="/articles/<%= article.id %>"><%= article.title %></a>
    <br>
    <%= article.content %>
    <br>
  </div>
<% end %>
