<div class="border-bottom d-flex justify-content-between">
  <a href="/articles"><h1 class="wikinimous">Wikinimous</h1></a>
  <a href="/articles/new">New article</a>
</div>

<h2>New article</h2>
<form action="/articles" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="title">Title:</label>
  <input type="text" name="article[title]" id="title">
  <label for="content">Content:</label>
  <input type="text" name="article[content]" id="content">
  <input type="submit">
</form>

